* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow-x: hidden;
}

.container {
	width: 100vw;
	height: 100vh;

	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content {
	display: inline-block;
	width: auto;
}

.name {
	color: #CCC;
	letter-spacing: 0.5vw;
	font-size: 4vw;
	font-weight: 600;
}

.title {
	color: #666;
	font-size: 1.3vw;

	font-family: 'Source Code Pro', monospace;
}