* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;

	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

#vignette {

}

.circular {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.container {
	width: 100vw;
	height: 100vh;
}

.content {
	display: inline-block;
	width: auto;
}

.name {
	color: #CCC;
	letter-spacing: 0.5vw;
	font-size: 5vw;
	font-weight: 600;
}

.title {
	color: #666;
	font-size: 1.75vw;

	font-family: "Source Code Pro", monospace;
}

#down-chevron-container {
	position: absolute;
	top: 90vh;
	left: 0;
	width: 100%;
	text-align: center;
}

#down-chevron {
	position: relative;
	top: 0.2vh;

	width: 3vh;
	height: 5vh;

	cursor: pointer;
}

#face-container {
	display: inline-block;
	padding: 0.5vw;
	background-color: #FFF;

	font-size: 0;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#face {
	height: 100%;
	font-size: 0;
}

#face-text-container {
	display: inline-block;
	width: 35vw;
	padding-left: 0.5vw;
	padding-bottom: 0.5vw;
}

#face-text {
	color: #666;
	font-size: 1vw;
	font-weight: 300;

	font-family: 'Open Sans', sans-serif;
}